In [9]:
!pip install "pymongo[srv]"

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.10/dist-packages (4.10.1)
WARNING: pymongo 4.10.1 does not provide the extra 'srv'
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo[srv]) (2.7.0)

In [12]:
from pymongo import MongoClient

# Ganti <username> dan <password> dengan yang sudah Anda buat
client = MongoClient("mongodb+srv://ivanharry:Payaman1234@clusterbigdata9.g3cps.mongodb.net/?retryWrites=true&w=majority&appName=ClusterBIgData9")
db = client['company_db']  # Menghubungkan ke database
collection = db['employees']  # Menghubungkan ke koleksi

print("Connected to MongoDB Atlas")

Connected to MongoDB Atlas

In [58]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500,
    'name': 'ivan',
    'department': 'Sales',
    'age': 29,
    'salary': 4700,
    'name': 'navi',
    'department': 'Manager',
    'age': 22,
    'salary': 4600,
    'name': 'vina',
    'department': 'Marketing',
    'age': 29,
    'salary': 4400,
    'name': 'avin',
    'department': 'Marketing',
    'age': 29,
    'salary': 4900
}
collection.insert_one(employee_data)
print("Data inserted")

Data inserted

In [59]:
# Update data berdasarkan nama
collection.update_one({'name': 'Alice'}, {'$set': {'salary': 5000}})
print("Data updated")

Data updated

In [68]:
# Menghapus data berdasarkan nama
collection.delete_one({'name': 'avin'})
print("Data deleted")

Data deleted

In [69]:
# Menampilkan semua data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('672a121897ff6e24f288ffa5'), 'name': 'avin', 'department': 'Manager', 'age': 29, 'salary': 4900}
{'_id': ObjectId('672a124b97ff6e24f288ffa6'), 'name': 'avin', 'department': 'Manager', 'age': 29, 'salary': 4900}
{'_id': ObjectId('672a134797ff6e24f288ffa7'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 5000}
{'_id': ObjectId('672a134797ff6e24f288ffa8'), 'name': 'Ivan', 'department': 'Sales', 'age': 29, 'salary': 4700}
{'_id': ObjectId('672a134797ff6e24f288ffa9'), 'name': 'Navi', 'department': 'CEO', 'age': 22, 'salary': 4600}
{'_id': ObjectId('672a134797ff6e24f288ffab'), 'name': 'Avin', 'department': 'Manager', 'age': 29, 'salary': 4900}
{'_id': ObjectId('672a135297ff6e24f288ffac'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('672a135297ff6e24f288ffad'), 'name': 'Ivan', 'department': 'Sales', 'age': 29, 'salary': 4700}
{'_id': ObjectId('672a135297ff6e24f288ffae'), 'name': 'Navi', 'department': 'CEO', 'age': 22, 'salary': 4600}
{'_id': ObjectId('672a135297ff6e24f288ffaf'), 'name': 'Vina', 'department': 'Marketing', 'age': 29, 'salary': 4400}
{'_id': ObjectId('672a135297ff6e24f288ffb0'), 'name': 'Avin', 'department': 'Manager', 'age': 29, 'salary': 4900}
{'_id': ObjectId('672a13e797ff6e24f288ffb1'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('672a13e797ff6e24f288ffb2'), 'name': 'Ivan', 'department': 'Finance', 'age': 27, 'salary': 4700}
{'_id': ObjectId('672a13e797ff6e24f288ffb3'), 'name': 'Navi', 'department': 'Finance', 'age': 22, 'salary': 4600}
{'_id': ObjectId('672a13e797ff6e24f288ffb4'), 'name': 'Vina', 'department': 'Marketing', 'age': 21, 'salary': 4400}
{'_id': ObjectId('672a13e797ff6e24f288ffb5'), 'name': 'Avin', 'department': 'Marketing', 'age': 25, 'salary': 4500}
{'_id': ObjectId('672a13e797ff6e24f288ffb6'), 'name': 'inav', 'department': 'Marketing', 'age': 23, 'salary': 4700}
{'_id': ObjectId('672a13f597ff6e24f288ffb7'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('672a13f597ff6e24f288ffb8'), 'name': 'Ivan', 'department': 'Finance', 'age': 27, 'salary': 4700}
{'_id': ObjectId('672a13f597ff6e24f288ffb9'), 'name': 'Navi', 'department': 'Finance', 'age': 22, 'salary': 4600}
{'_id': ObjectId('672a13f597ff6e24f288ffba'), 'name': 'Vina', 'department': 'Marketing', 'age': 21, 'salary': 4400}
{'_id': ObjectId('672a13f597ff6e24f288ffbb'), 'name': 'Avin', 'department': 'Marketing', 'age': 25, 'salary': 4500}
{'_id': ObjectId('672a13f597ff6e24f288ffbc'), 'name': 'inav', 'department': 'Marketing', 'age': 23, 'salary': 4700}
{'_id': ObjectId('672a13f797ff6e24f288ffbd'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('672a13f797ff6e24f288ffbe'), 'name': 'Ivan', 'department': 'Finance', 'age': 27, 'salary': 4700}
{'_id': ObjectId('672a13f797ff6e24f288ffbf'), 'name': 'Navi', 'department': 'Finance', 'age': 22, 'salary': 4600}
{'_id': ObjectId('672a13f797ff6e24f288ffc0'), 'name': 'Vina', 'department': 'Marketing', 'age': 21, 'salary': 4400}
{'_id': ObjectId('672a13f797ff6e24f288ffc1'), 'name': 'Avin', 'department': 'Marketing', 'age': 25, 'salary': 4500}
{'_id': ObjectId('672a13f797ff6e24f288ffc2'), 'name': 'inav', 'department': 'Marketing', 'age': 23, 'salary': 4700}
{'_id': ObjectId('672a14c497ff6e24f288ffc3'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('672a14c497ff6e24f288ffc4'), 'name': 'Ivan', 'department': 'Finance', 'age': 27, 'salary': 4700}
{'_id': ObjectId('672a14c497ff6e24f288ffc5'), 'name': 'Navi', 'department': 'Finance', 'age': 22, 'salary': 4600}
{'_id': ObjectId('672a14c497ff6e24f288ffc6'), 'name': 'Vina', 'department': 'Marketing', 'age': 21, 'salary': 4400}
{'_id': ObjectId('672a14c497ff6e24f288ffc7'), 'name': 'Avin', 'department': 'Marketing', 'age': 25, 'salary': 4500}
{'_id': ObjectId('672a14c497ff6e24f288ffc8'), 'name': 'Inav', 'department': 'Marketing', 'age': 23, 'salary': 4700}
{'_id': ObjectId('672a14f797ff6e24f288ffc9'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('672a14f797ff6e24f288ffca'), 'name': 'Ivan', 'department': 'Finance', 'age': 27, 'salary': 4700}
{'_id': ObjectId('672a14f797ff6e24f288ffcb'), 'name': 'Navi', 'department': 'Finance', 'age': 22, 'salary': 4600}
{'_id': ObjectId('672a14f797ff6e24f288ffcc'), 'name': 'Vina', 'department': 'Marketing', 'age': 21, 'salary': 4400}
{'_id': ObjectId('672a14f797ff6e24f288ffcd'), 'name': 'Avin', 'department': 'Marketing', 'age': 25, 'salary': 4500}
{'_id': ObjectId('672a14f797ff6e24f288ffce'), 'name': 'Inav', 'department': 'Marketing', 'age': 23, 'salary': 4700}
{'_id': ObjectId('672a153297ff6e24f288ffcf'), 'name': 'avin', 'department': 'Marketing', 'age': 29, 'salary': 4900}

In [22]:
# Pipeline Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4500.0}

In [31]:
# Buat koleksi 'products'
koleksi_produk = db['products']

# Data contoh produk
data_produk = [
    {'nama': 'Produk A', 'kategori': 'Elektronik', 'harga': 120},
    {'nama': 'Produk B', 'kategori': 'Elektronik', 'harga': 220},
    {'nama': 'Produk C', 'kategori': 'Rumah Tangga', 'harga': 70},
    {'nama': 'Produk D', 'kategori': 'Rumah Tangga', 'harga': 90},
    {'nama': 'Produk E', 'kategori': 'Bahan Makanan', 'harga': 15},
    {'nama': 'Produk F', 'kategori': 'Bahan Makanan', 'harga': 25},
    {'nama': 'Produk G', 'kategori': 'Pakaian', 'harga': 50},
    {'nama': 'Produk H', 'kategori': 'Pakaian', 'harga': 80},
    {'nama': 'Produk I', 'kategori': 'Furniture', 'harga': 300},
    {'nama': 'Produk J', 'kategori': 'Furniture', 'harga': 450},
]

# Menambahkan data produk ke dalam koleksi
koleksi_produk.insert_many(data_produk)
print("Produk berhasil ditambahkan.")

Produk berhasil ditambahkan.

In [32]:
# Langkah 1: Menghitung harga rata-rata semua produk
hasil_rata_harga = koleksi_produk.aggregate([
    {'$group': {'_id': None, 'rata_harga': {'$avg': '$harga'}}}
])
rata_harga = list(hasil_rata_harga)[0]['rata_harga']

# Langkah 2: Query produk dengan harga di atas rata-rata
produk_mahal = koleksi_produk.find({'harga': {'$gt': rata_harga}})
print("Produk dengan harga di atas rata-rata:")
for produk in produk_mahal:
    print(produk)

Produk dengan harga di atas rata-rata:
{'_id': ObjectId('672a10f597ff6e24f288ff9a'), 'nama': 'Produk B', 'kategori': 'Elektronik', 'harga': 220}
{'_id': ObjectId('672a10f597ff6e24f288ffa1'), 'nama': 'Produk I', 'kategori': 'Furniture', 'harga': 300}
{'_id': ObjectId('672a10f597ff6e24f288ffa2'), 'nama': 'Produk J', 'kategori': 'Furniture', 'harga': 450}

In [49]:
pipeline = [
    {'$group': {'_id': '$kategori', 'total_produk': {'$sum': 1}}}
]
print("Total produk per kategori:")
for hasil in koleksi_produk.aggregate(pipeline):
    print(hasil)

Total produk per kategori:
{'_id': None, 'total_produk': 4}
{'_id': 'Pakaian', 'total_produk': 2}
{'_id': 'Furniture', 'total_produk': 2}
{'_id': 'Bahan Makanan', 'total_produk': 2}
{'_id': 'Rumah Tangga', 'total_produk': 2}
{'_id': 'Elektronik', 'total_produk': 2}

In [72]:
# Data karyawan yang dimasukkan ke database
data_karyawan = [
    {'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500},
    {'name': 'Ivan', 'department': 'Finance', 'age': 27, 'salary': 4700},
    {'name': 'Navi', 'department': 'Finance', 'age': 22, 'salary': 4600},
    {'name': 'Vina', 'department': 'Marketing', 'age': 21, 'salary': 4400},
    {'name': 'Avin', 'department': 'Marketing', 'age': 25, 'salary': 4500},
    {'name': 'Inav', 'department': 'Marketing', 'age': 23, 'salary': 4700}
]

# Menyisipkan data karyawan ke dalam koleksi MongoDB
collection.insert_many(data_karyawan)
print("Data karyawan berhasil dimasukkan ke database.")

Data karyawan berhasil dimasukkan ke database.

In [73]:
# Pipeline untuk mendapatkan 5 karyawan dengan gaji tertinggi per departemen
pipeline = [
    {'$sort': {'salary': -1}},  # Mengurutkan berdasarkan gaji dari tinggi ke rendah
    {'$group': {
        '_id': '$department',
        'top_5_karyawan': {'$push': {'name': '$name', 'salary': '$salary'}}
    }},
    {'$project': {
        'top_5_karyawan': {'$slice': ['$top_5_karyawan', 5]}
    }}
]

print("5 karyawan dengan gaji tertinggi per departemen:")
for hasil in collection.aggregate(pipeline):
    print(hasil)

5 karyawan dengan gaji tertinggi per departemen:
{'_id': 'Finance', 'top_5_karyawan': [{'name': 'Alice', 'salary': 5000}, {'name': 'Ivan', 'salary': 4700}, {'name': 'Ivan', 'salary': 4700}, {'name': 'Ivan', 'salary': 4700}, {'name': 'Ivan', 'salary': 4700}]}
{'_id': 'Manager', 'top_5_karyawan': [{'name': 'avin', 'salary': 4900}, {'name': 'avin', 'salary': 4900}, {'name': 'Avin', 'salary': 4900}, {'name': 'Avin', 'salary': 4900}]}
{'_id': 'Sales', 'top_5_karyawan': [{'name': 'Ivan', 'salary': 4700}, {'name': 'Ivan', 'salary': 4700}]}
{'_id': 'Marketing', 'top_5_karyawan': [{'name': 'avin', 'salary': 4900}, {'name': 'Inav', 'salary': 4700}, {'name': 'Avin', 'salary': 4500}, {'name': 'Avin', 'salary': 4500}, {'name': 'Avin', 'salary': 4500}]}

In [70]:
# Menghapus karyawan yang berusia di bawah 25 tahun
collection.delete_many({'age': {'$lt': 25}})
print("Karyawan yang berusia di bawah 25 tahun telah dihapus dari database.")

Karyawan yang berusia di bawah 25 tahun telah dihapus dari database.

In [71]:
# Pipeline untuk menghitung total gaji dan rata-rata umur per departemen
pipeline = [
    {'$group': {
        '_id': '$department',
        'total_gaji': {'$sum': '$salary'},
        'rata_rata_umur': {'$avg': '$age'}
    }}
]

print("Laporan total gaji dan rata-rata umur per departemen:")
for hasil in collection.aggregate(pipeline):
    print(hasil)

Laporan total gaji dan rata-rata umur per departemen:
{'_id': 'Finance', 'total_gaji': 55500, 'rata_rata_umur': 28.166666666666668}
{'_id': 'Sales', 'total_gaji': 9400, 'rata_rata_umur': 29.0}
{'_id': 'Marketing', 'total_gaji': 31800, 'rata_rata_umur': 26.142857142857142}
{'_id': 'Manager', 'total_gaji': 19600, 'rata_rata_umur': 29.0}